#main {
    width: 100%;
    height: 256px;
}

#contain {
    width:1024px;
    height: 256px;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
}

.navPos {
    width:256px;
    height:256px;

}